/* Universal Navbar Styles starts */
.navbar {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Logo Styles */
.logo {
    max-width: 4.9rem;
    height: auto;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid grey;
}

.container-fluid > a {
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}

.navbar-nav {
    margin-left: 1rem; /* Adjusted margin for better alignment */
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: large;
    color: black;
}

.nav-link {
    color: #333333;
}

.nav-link:hover {
    color: #007bff;
}

.form-control {
    border-color: #333333;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

.d-flex {
    font-family: 'Times New Roman', Times, serif;
}

/* User Account Menu */
.navbar-nav li.nav-item {
    margin-right: 1rem; /* Adjusted margin for better alignment */
}

/* Cart Summary */
.navbar-nav .badge {
    background-color: #dc3545;
    color: #ffffff;
}

/* Modal Styles */
.modal-content {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-title {
    font-weight: bold;
    color: #333333;
}

.modal-footer {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}

/* Checkout Button */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: grey;
    border-color: black;
}

/* Responsive Styles */
@media (max-width: 991.98px) {
    .navbar-nav {
        margin-left: 0;
    }
    .navbar-toggler {
        margin-right: 1rem; /* Adjusted margin for better alignment */
    }
}

/* Universal Navbar Styles ENDS */
